# large folders
data/
models/
outputs/

# environment variables
.env

# python compiled files
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/

# virtual environments
venv/
.venv/
env/

# OS junk files
.DS_Store
Thumbs.db
